* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.front-side {
  backface-visibility: hidden;
  animation: fadeIn 0.5s ease;
}
.board {
  position: absolute;
}
.back-side {
  backface-visibility: hidden;

  transform: rotateY(180deg);
  animation: fadeIn 0.5s ease;
}
.tile {
  cursor: pointer;
}

.tile rect {
  border-radius: 25px;
}

.flip {
  transform: rotateY(180deg);
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}
