body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.pulse {
  animation-name: pulse_kf;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  transform-origin: center;
  cursor: pointer;
}

.grayscale {
  filter: url(#grayscale);
}

@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-small {
  animation-name: pulse-small_kf;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  transform-origin: center;
  cursor: pointer;
}

@keyframes pulse-small_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.icon-hide {
  animation-name: icon-hide;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes icon-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.icon-show {
  animation: icon-show 2.5s 1;
  animation-fill-mode: forwards;
  transform-box: fill-box;
  transform-origin: bottom center;
}

@keyframes icon-show {
  0% {
    transform: scale(3);
    opacity: 0;
  }

  20% {
    transform: scale(3);
    opacity: 0.7;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.flicker {
  animation: flicker 2.5s infinite;
  animation-fill-mode: forwards;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  60% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

/* .lamp-tilt {
  animation: lamp-tilt 2.5s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-box: fill-box;
  transform-origin: top center;
}

@keyframes lamp-tilt {
  0% {
    transform: translate(20px, -10px);
  }

  50% {
    transform: translate(-20px, 10px);
  }

  100% {
    transform: translate(20px, -10px);
  }
} */

.rotate {
  animation-name: rotate_kf;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rotate_kf {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0);
  }
}

.scaleDown {
  animation: scaleDown 1s 1;
  transform-box: fill-box;
  transform-origin: bottom left;
  animation-fill-mode: forwards;
}

.scaleDownStartScreen {
  animation: scaleDown 1s 1;
  transform-box: fill-box;
  transform-origin: bottom right;
  animation-fill-mode: forwards;
}

.scaleUp {
  animation: scaleUp 1s 1;
  transform-box: fill-box;
  transform-origin: bottom left;
}

.scaleUpStartScreen {
  animation: scaleUp 1s 1;
  transform-box: fill-box;
  transform-origin: bottom right;
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.talk {
  animation-name: talk;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes talk {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1.5);
  }

  100% {
    transform: scaleY(1);
  }
}

.wiggle {
  animation: wiggle 2.5s infinite ease;
  transform-box: fill-box;
  transform-origin: bottom;
}

@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}
