body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.pulse {
  animation-name: pulse_kf;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  transform-origin: center;
  cursor: pointer;
}

@keyframes pulse_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.pulse-small {
  animation-name: pulse-small_kf;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  transform-origin: center;
  cursor: pointer;
}

@keyframes pulse-small_kf {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.icon-hide {
  animation-name: icon-hide;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes icon-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.icon-show {
  animation-name: icon-show;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes icon-show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
